[init]
  defaultBranch = main
[gpg]
  format = ssh
[user]
  signingkey = /home/andre/.ssh/id_rsa
[commit]
  gpgsign = true
[includeIf "gitdir:~/corban/"]
  path = .gitpdtec
[includeIf "gitdir:~/paneas/"]
  path = .gitpaneas

