[init]
  defaultBranch = main
[core]
  editor = vim
[gpg]
  format = ssh
[user]
  signingkey = /home/andre/.ssh/id_ed25519
  name = Andre Landim
  email = arbezerra@gmail.com
[commit]
  gpgsign = true
[includeIf "gitdir:~/workspace/corban/"]
  path = .gitpdtec
[includeIf "gitdir:~/workspace/paneas/"]
  path = .gitpaneas

